<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	    <title>Flechettes - Player <%=id%></title>
    </head>
    <style>
        .monbouton {
            font-size:150%;
            height:24%;
            width:99%;
            height:99%;
            margin-left:2%;
        }
        td{
            height:25%;
            width:50%;
            padding:2px;
        }
        table{
            width:99%;
            height:99%;
        }
        
        body{
            padding-top:60px;
        }
        .bull{
            width:99.5%;
            margin-left:1%;
        }
        
    </style>
    <body>
        <!-- xxxxxxxxxxxxxxxxxxxxxxxx Menu xxxxxxxxxxxxxxxxxxxxxxxx-->
        <nav class="navbar navbar-default navbar-fixed-top navbar-perso" id="mainNav">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand hidden-sm" href="#mainPage">Darts</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="restart" data-toggle="collapse" data-target=".nav-collapse">Restart </a></li>
                    <li><a href="#" id="undo" data-toggle="collapse" data-target=".nav-collapse">Undo </a></li>
                </ul>
            </div>
        </nav>
		<table>
		    <tr>
		        <td class="matd">
		            <button type="button" class="btn btn-primary btn-lg  monbouton" value="1">20</button>
		        </td>
		        <td class="matd">
		            <button type="button" class="btn btn-primary btn-lg  monbouton" value="3" >18</button>
		        </td>
		    </tr>
		    <tr>
		        <td class="matd">
		            <button type="button" class="btn btn-primary btn-lg  monbouton" value="2">19</button>
		        </td>
		        <td class="matd">
		            <button type="button" class="btn btn-primary btn-lg  monbouton" value="4">17</button>
		        </td>
		    </tr>
		    <tr>
		        <td class="matd">
		            <button type="button" class="btn btn-primary btn-lg  monbouton" value="5">16</button>
		        </td>
		        <td class="matd">
		            <button type="button" class="btn btn-primary btn-lg  monbouton" value="6">15</button>
		        </td>
		    </tr>
		    <tr>
		        <td colspan="2">
		            <button type="button" class="btn btn-primary btn-lg bull monbouton" value="7">Bull</button>
		        </td>
		    </tr>
		</table>
    </body>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('<%= ip%>:<%= port%>');
      	socket.emit('new_connection', 'Player Page');
      	
      	$(".btn").click(function() {
      	    var value = $(this).attr("value") ;
      	    var input = {
      	        client: <%=id%>,
      	        input: value
      	    };
            socket.emit('input',input);
            //console.log(value);
        });
      	$("#restart").click(function() {
            socket.emit('command','restart');
        });
      	$("#undo").click(function() {
            socket.emit('command','undo');
        });
        $(document).on('click','.navbar-collapse.in',function(e) {
            if( $(e.target).is('a') ) {
                $(this).collapse('hide');
            }
        });
    </script>
</html>
    